* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font-family: Arial, sans-serif; 
    color: #333333; 
    background-color: #F4F4F4; 
    line-height: 1.6;
}
a {
    color: #333333;
    text-decoration: none;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
.site-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ddd;
    padding: 1rem 20px;
    text-align: justify; 
    font-size: 0.1px;
}

.site-header h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 1.5rem; 
}

.site-header nav {
    display: inline-block;
    font-size: 1rem; 
}

.site-header nav ul {
    list-style: none;
    margin-top: 5px; 
}


.site-header nav li {
    display: inline-block;
    margin-left: 20px;
}


.site-header nav a {
    font-size: 1rem;
    font-weight: 500;
    color: #666666;
}


.site-header nav a:hover {
    color: #007bff; 
}
.hero {
    text-align: center;
    padding: 3rem 0 5rem 0;
}
.about-section {
    padding-bottom: 3rem;
}

.about-grid {
    padding: 3rem 0;
    text-align: justify;
    font-size: 0.1px;
}

.about-text {
    width: 65%; 
    display: inline-block; 
    vertical-align: top;
    padding-right: 40px; 
    font-size: 1rem;
}

.top-inventions {
    width: 30%;
    display: inline-block;
    vertical-align: top; 
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); 
    font-size: 1rem;
}

.top-inventions ol {
    padding-left: 20px;
}

.inventor-showcase {
    background-color: #F4F4F4;
    padding: 0 0 3rem 0;
}

.inventor-card {
    background-color: #FFFFFF;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); 
    text-align: left; 
    font-size: 0.1px;
    /* height: 30vh;
    overflow: hidden; */

}
.inventor-card img {
    display: inline-block;
    vertical-align: top;
    width: 200px; 
    height: auto;
    margin-right: 30px; 
    border-radius: 4px;
    margin-bottom: 20px;
}

.inventor-details {
    display: inline-block;
    vertical-align: top;
    width: 75%;
    font-size: 1rem;
}


.inventor-details p.major-inventions {
    margin-top: 1rem;
    font-size: 0.95rem;
    color: #333333;
}

.site-footer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-size: 0.85rem;
    line-height: 1.5;
}
.site-footer > p {
    color: #cccccc;
}

card_1 {
    width: 200px;
}
img{
    width: 569px;
    height: 861px;
}
